{% extends 'page/base.html' %}
{% block content %}


    <!-- slider_area_start -->
    <div class="slider_area">
            <div class="single_slider single_slider2  d-flex align-items-center property_bg overlay2">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-xl-10 offset-xl-1">
                                <div class="property_wrap">
                                        <div class="slider_text text-center justify-content-center">
                                                <h3>Search property</h3>
                                            </div>
                                            <div class="property_form">
                                                {% include 'page/search.html' %}
                                            </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    </div>
    <!-- slider_area_end -->
    
    <div class="popular_property plus_padding">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title mb-40 text-center">
                        {% if object_list|length == 1 %}
                            <h4>{{ object_list|length }} Property found</h4>
                        {% elif object_list|length > 1 %}
                            <h4>{{ object_list|length }} Properties found</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            
            <div class="row">
            {% for object in object_list %}
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_property">
                        <div class="property_thumb">
                            <div class="property_tag">
                                    {{ object.availability }}
                            </div>
                            <a href=""><img class="card-img-top img-fluid" src="{{ object.image1.url }}" alt="{{ obj.title}} logo"></a>
                        </div>
                        <div class="property_content">
                            <div class="main_pro">
                                    <h3><a href="#">{{ object.title }}</a></h3>
                                    <div class="mark_pro">
                                        <img src="img/svg_icon/location.svg" alt="">
                                        <span>Popular Properties</span>
                                    </div>
                                    <span class="amount">#{{ object.price }}</span>
                            </div>
                        </div>
                        <div class="footer_pro">
                                <ul>
                                    <li>
                                        <div class="single_info_doc">
                                            <img src="img/svg_icon/square.svg" alt="">
                                            <span>{{ object.property_size }}</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single_info_doc">
                                            <img src="img/svg_icon/bed.svg" alt="">
                                            <span>{{ object.bedrooms }} Bed</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="single_info_doc">
                                            <img src="img/svg_icon/bath.svg" alt="">
                                            <span>{{ object.bathrooms }} Bath</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                    </div>
                </div>
            
        {% endfor %}

    

    <!-- contact_action_area  -->
    <div class="contact_action_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="action_heading">
                        <h3>Contact @jacecorporation1@gmial.com for sale of your property</h3>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="call_add_action">
                        <span>+23470064568197</span>
                        <a href="#" class="boxed-btn3-line">Load More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /contact_action_area  -->

{% endblock %}