{% extends 'base.html' %}
{% load static %}

{% block content %}

   
   
    
<!-- slider_area_start -->
<div class="slider_area">
        <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-10 offset-xl-1">
                            <div class="slider_text text-center justify-content-center col-xl-12 col-md-12 col-lg-12">
                                <h3>Find your best Property</h3>
                                <p style="color:orange"><i><strong>We offer the best at afforable price around Nigeria</strong></i></p>
                            </div>
                            <div class="property_form">
                                {% include 'search.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
<!-- slider_area_end -->

<!-- popular_property  -->
<div class="popular_property">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title mb-40 text-center">
                    <h3>Popular Properties</h3>
                </div>
            </div>
        </div>
        <div class="row">
            {% for obj in object_list %}
            <div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_property">
                    <div class="property_thumb">
                        <div class="property_tag">
                                {{ obj.availability }}
                        </div>
                        
                        <a href=""><img class="card-img-top img-fluid" src="{{ obj.image1.url }}" alt="{{ obj.title}} logo"></a>
                    </div>
                    <div class="property_content">
                        <div class="main_pro">
                                <h3><a href="#">{{ obj.title }}</a></h3>
                                <div class="mark_pro">
                                   
                                    <img src=" {% static 'img/svg_icon/square.svg' %}" alt="">
                                    <span>Popular Properties</span>
                                </div>
                                    <span class="amount">From #{{ obj.price }}</span>
                        </div>
                    </div>
                    <div class="footer_pro">
                        <ul>
                            <li>
                                <div class="single_info_doc">
                                    
                                    <img src="{% static 'img/svg_icon/square.svg' %}" alt="">
                                    <span>{{ obj.property_size }} Sqft</span>
                                </div>
                            </li>
                            <li>
                                <div class="single_info_doc">
                                    
                                    <img src="{% static 'img/svg_icon/bed.svg' %}" alt="">
                                    <span>{{ obj.bedrooms }} Bed</span>
                                </div>
                            </li>
                            <li>
                                <div class="single_info_doc">
                                   
                                    <img  src=" {% static 'img/svg_icon/bath.svg' %}" alt="">
                                    <span>{{ obj.bathrooms }} Bath</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-xl-12 my-5">
            <div class="more_property_btn text-center">
                <a href="#" class="boxed-btn3-line">More Properties</a>
            </div>
        </div>
    </div>
</div>

<!-- /popular_property  -->

<!-- home_details  -->
<div class="home_details">
    <div class="container">
        <div class="row">   
            <div class="col-xl-12">
                <div class="home_details_active owl-carousel">
                    <div class="single_details">
                        {% for obj in object_list %}
                        <div class="row">
                            <div class="col-xl-6 col-md-6">
                                <div class="modern_home_info">
                                    <div class="modern_home_info_inner">
                                        <span class="for_sale">
                                            {{ obj.availability }}
                                        </span>
                                        <div class="info_header">
                                                <h3>{{ obj.title }}</h3>
                                                <div class="popular_pro d-flex">
                                                    <img src="img/svg_icon/location.svg" alt="">
                                                    <span>Popular Properties</span>
                                                </div>
                                        </div>
                                        <div class="info_content">
                                            <ul>
                                                <li> <img src="img/svg_icon/square.svg" alt=""> <span>{{ obj.property_size }} Sqft</span>  </li>
                                                <li> <img src="img/svg_icon/bed.svg" alt=""> <span>{{ obj.bedrooms }} Bed</span> </li>
                                                <li> <img src="img/svg_icon/bath.svg" alt=""> <span>{{ obj.bathrooms }} Bath</span> </li>
                                            </ul>
                                            <p>{{ obj.description }}</p>
                                            <div class="prise_view_details d-flex justify-content-between align-items-center">
                                                <span># {{ obj.price }}</span>
                                                <a class="boxed-btn3-line" href="{{ obj.slug }}">View Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /home_details  -->

<!-- accordion  -->
<div class="accordion_area">
        <div class="container">
            <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                            <div class="faq_ask">
                                <h3>Frequently ask</h3>
                                    <div id="accordion">
                                            <div class="card">
                                                <div class="card-header" id="headingTwo">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                                Adieus who direct esteem <span>It esteems luckily?</span>
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                                    <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                                Who direct esteem It esteems?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                                    <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-header" id="headingThree">
                                                    <h5 class="mb-0">
                                                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                                Duis consectetur feugiat auctor?
                                                        </button>
                                                    </h5>
                                                </div>
                                                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                                    <div class="card-body">Esteem spirit temper too say adieus who direct esteem esteems luckily or picture placing drawing.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                            </div>
                        </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="accordion_thumb">
                        <img src="img/banner/accordion.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- accordion  -->

    <!-- counter_area  -->
    <div class="counter_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter">
                        <h3> <span  class="counter" >{{ object.property_type|length }}</span> <span>+</span> </h3>
                        <p>Properties for sale</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter">
                        <h3> <span class="counter" >300</span></h3>
                        <p>Properties for sale</p>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4">
                    <div class="single_counter">
                        <h3> <span class="counter" >15</span></h3>
                        <p>Properties for sale</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /counter_area  -->

 



    <!-- contact_action_area  -->
    <div class="contact_action_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-7">
                    <div class="action_heading">
                        <h3>Add your property for sale</h3>
                    </div>
                </div>
                <div class="col-xl-5">
                    <div class="call_add_action">
                        <span>+2347064568197</span>
                        <a href="#" class="boxed-btn3-line">Add Property</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- /contact_action_area  -->
    {% endblock %}