<div class="centered">
<form method='GET' action='{% url "query" %}' class="form my-2 my-lg-0 search-form">
    <div class="row">
        <div class="col-xl-12">
            <div class="form_wrap d-flex">
                    <div class="single-field max_width ">
                            <label for="#">Location</label>
                            <select class="wide" name="location">
                                    <option data-display="Location">State</option>
                                    <option value="abuja">Abuja</option>
                                    <option value="lagos">Lagos</option>
                            </select>
                        </div>
                    <div class="single-field max_width ">
                            <label for="#">Property type</label>
                            <select class="wide" name="apartment" >
                                    <option data-display="Apartment">Property</option>
                                    <option value="bungalow">Bungalow</option>
                                    <option value="condo">Condominium</option>
                            </select>
                        </div>
                        <div class="single_field range_slider">
                                <label for="#">Price ($)</label>
                            <div id="slider"></div>
                        </div>
                    <div class="single-field min_width ">
                            <label for="#">Bed Room</label>
                            <select class="wide" name="bedroom" >
                                    <option data-display="01">01</option>
                                    <option value="1">02</option>
                                    <option value="2">03</option>
                            </select>
                        </div>
                    <div class="single-field min_width ">
                            <label for="#">Bath Room</label>
                            <select class="wide" name="bathroom" >
                                    <option data-display="01">01</option>
                                    <option value="1">02</option>
                                    <option value="2">03</option>
                            </select>
                        </div>
                        <div class="serach_icon">
                                <a href="#">
                                        <i class="ti-search"></i>
                                </a>
                            </div>
            </div>
        </div>
    </div>
</form>
</div>